# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/ckeditor5/node_modules

.next
/.env.development.local

/build
/out

yarn.lock
package-lock.json
lab